body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: var( --background);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.search-container {
    text-align: center;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 300px;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5e5e5e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #3d3d3d;
}