<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style1.css" th:href="@{/styles/mainStyle.css}">
    <link rel="stylesheet" href="../static/styles/style1.css" th:href="@{/styles/tileGrid.css}">
    <title>Tiles Grid</title>
</head>
<body>
<div class="tiles-grid">
    <a th:each="friend : ${friends}" class="tile" th:href="@{'/player/search?steamID='+ ${friend.friendSteamID}}">
        <img th:src="${friend.avatar}" class="avatar" alt="Avatar">
        <span th:text="${friend.name}"></span>
    </a>
</div>
</body>
</html>
