<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Library</title>
</head>
<body>

<div>
    <h1>Game Library</h1>

    <div th:each="gameProfile : ${gameProfiles}">
        <div style="border: 1px solid #ddd; padding: 10px; margin: 10px; display: inline-block; width: 200px;">
            <h3 th:text="${gameProfile.getAppName()}"></h3>
            <p th:text="'Total Playtime: ' + ${gameProfile.getTotalPlaytime()} + ' hours'"></p>
        </div>
    </div>
</div>

</body>
</html>
