<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dark Steam Profile</title>
  <link rel="stylesheet" type="text/css" href="style2.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="profile-container" th:object="${player}">

  <h1>Dark Steam Profile</h1>

  <img th:src="${player.avatar}" alt="Profile Image" class="avatar">

  <p>ID: <span th:text="*{steamID}"></span></p>
  <p>Nick: <span th:text="*{personName}"></span></p>
  <p>Name: <span th:text="*{realName}"></span></p>

  <!-- Add more information as needed -->

  <!-- Button to the next page -->
  <a href="/gamesLibrary" class="button">Games Library</a>

</div>

</body>
</html>
