<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Steam Reader</title>
  <link rel="stylesheet" type="text/css" href="../static/styles/mainStyle.css" th:href="@{/styles/mainStyle.css}">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="flexbox">
  <div class="item">
    <div class="content">
      <div th:each="gameProfile : ${gameProfiles.subList(0,9)}" class="tile">
        <h3 th:text="${gameProfile.appName}"></h3>
        <p th:text="${gameProfile.totalPlaytime/60} + ' hours'"></p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <div class="profile-container" th:object="${player}">
        <h1><p><span th:text="*{personName}"></span></p></h1>
        <img th:src="${player.avatarFull}" alt="Profile Image" class="avatar" style="width: 150px; height: 150px">
        <p><span th:text="*{steamID}"></span></p>
        <p><span th:text="*{realName}"></span></p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <a th:each="friend : ${friends.subList(0,9)}" class="tile" th:href="@{'/player/search?steamID='+ ${friend.friendSteamID}}">
          <img th:src="${friend.avatar}" class="avatar" alt="Avatar">
          <span th:text="${friend.name}"></span>
      </a>
    </div>
  </div>
</div>

</body>
</html>
